<html>
    <head>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="icon" href="/img/favicon.png">
        <script src="/js/main.js"></script>
    </head>
    <body>
<h1>{{title}}</h1>
<div>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>