{{>header}}

<form>
    <input type="text"  placeholder="Location">
    <button>Submit</button>
</form>

<p id="p1"></p>
<p id="p2"></p>
 <script src="/js/main.js"></script>
{{>footer}}              

